@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/nunito-sans.ttf");
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/roboto-slab.ttf");
}

:root {
  --nav-h: 68px;
  --font-mono: monospace;
  --font-sans: 'Nunito Sans';
  --font-serif: 'Roboto Slab';

  --blue-primary: #00338d;
  --blue-dark: #212d44;
  --blue-light: #f4f7ff;
}