@import url("./constants.css");

#inicio {
  height: calc(100vh - var(--nav-h)) !important;
}
.inicio__box {
  width: 100%;
  height: 100%;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-content: center;
  gap: 64px;
}

.inicio__textarea {
  min-height: 300px !important;
}

.inicio__textarea__sub {
  min-height: 200px !important;
}