@import url("./constants.css");


#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--nav-h));
}

.login__box {
  max-width: 500px;
  width: 500px;
}

.login__form {
  width: 100%;
}